.header-img {
  width: 100%;       /* ocupa todo el ancho del card */
  height: auto;      /* se ajusta de alto automáticamente */
}

@media (min-width: 992px) {
  .header-img {
    width: 80%;      /* en escritorio la reducís un poco */
    margin: 0 auto;  /* centrada */
  }
}

body {
  font-family: 'Newsreader', serif;
}
.bg-main{
  background-color:burlywood;
}

.texto_titulo{
  text-align: center;
  font-size: 24px;
  font-weight: bold;

}

.texto_centrado{
  text-align: center;
  font-size: 18px;
}

.imagen_principal {
  width: 100%;                   
  max-width: 100%;               
  aspect-ratio: 3/4;              /* proporción aproximada vertical */
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 25%
    ),
    url("../src/img/Foto.jpg");
  background-size: contain;       /* muestra toda la imagen sin recortar */
  background-repeat: no-repeat;
  background-position: center;
}

.bounce-arrow {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}

/*Error 404*/

.error-page {
  min-height: 100vh;
  background: #fdf0f4; /* rosa claro */
  color: #9b1d3a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.error-code {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.error-message {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.error-desc {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

/* Diente */
.tooth-icon-container {
  font-size: 8rem; /* grande y visible */
  color: #9b1d3a;
}

/* Botón centrado debajo */
.button-container {
  margin-top: 20px;
}

/* Responsive para mobile */
@media (max-width: 576px) {
  .error-code {
    font-size: 4rem;
  }

  .error-message {
    font-size: 1.5rem;
  }

  .error-desc {
    font-size: 1rem;
  }

  .tooth-icon-container {
    font-size: 6rem;
  }

  .button-container button {
    width: 100%;
    padding: 10px;
  }
}
